<!DOCTYPE html>
<html lang="en" ng-app="DesvalorizaApp">
<head>
    <meta charset="UTF-8">
    <title>Desvaloriza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="assets/javascript/angular-1.6.1/angular.js" type="text/javascript"></script>
    <script src="assets/javascript/app.js" type="text/javascript"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
    <!-- <script src="assets/javascript/google.js"></script> -->
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    <!-- <script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});

        $.ajaxSetup({
            async: false
        });
		// google.charts.setOnLoadCallback(DESVALORIZA.google.drawChart);
    </script> -->
</head>

<body>

<div class="container" ng-controller="desvalorizaController as desvaloriza">
  <h1>Desvaloriza.com</h1>
  <br/>


  <div class="panel panel-danger alert-danger" role="alert" ng-if="desvaloriza.error">
    <div class="panel-heading">Error</div>
    <div class="panel-body">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{desvaloriza.error}}
    </div>
  </div>

  <div class="form-group">
    <label for="types">Tipo:</label>
      <label>
          <input type=radio name="types" ng-model="desvaloriza.type" value="carros" ng-click="desvaloriza.loadMakers();"></input>
          <b>Carros</b>
      </label>
      <label>
          <input type=radio name="types" ng-model="desvaloriza.type" value="motos" ng-click="desvaloriza.loadMakers();"></input>
          <b>Motos</b>
      </label>
      <label>
          <input type=radio name="types" ng-model="desvaloriza.type" value="caminhoes" ng-click="desvaloriza.loadMakers();"></input>
          <b>Caminhoes</b>
      </label>
  </div>

  <div class="form-group">
    <label for="maker">Marca:</label>
    <select id="maker" ng-model="desvaloriza.maker"
      ng-options="maker.nome for maker in desvaloriza.available_makers | orderBy:'nome' track by maker.codigo"
      ng-change="desvaloriza.loadModels()">
        <option value="">Selecione a Marca</option>
    </select>
  </div>

  <div class="form-group">
    <label for="model">Modelo:</label>
    <select id="model" ng-model="desvaloriza.model"
      ng-options="model.nome for model in desvaloriza.available_models | orderBy:'nome' track by model.codigo"
      ng-change="desvaloriza.loadPrices()">
        <option value="">Selecione o Modelo</option>
    </select>
  </div>

  <div class="form-group" ng-if="desvaloriza.chart">
    <canvas id="line" class="chart chart-line"
            chart-data="desvaloriza.chart.data"
            chart-labels="desvaloriza.chart.labels"
            chart-click="onClick">
    </canvas>
  </div>

  <div class="form-group">
    <p ng-repeat="price in desvaloriza.available_prices | orderBy: '-AnoModelo' ">{{price.modelo}}: {{price.Valor}}</p>
  </div>

<!--
  <div class="form-group">
    <p>Tipo: {{desvaloriza.type}}</p>
    <p>Marca: {{desvaloriza.maker}}</p>
    <p>Modelo: {{desvaloriza.model}}</p>
    <div>
      <ul>
        <li ng-repeat="price in desvaloriza.available_prices | orderBy: '-AnoModelo' ">{{price}}</li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <div id="price_chart" style="width: 900px; height: 500px"></div> -->
<!-- <div id="price_chart" style="float: left; height: 0px; width: 50%;"></div>

<div id="prices" style="height: 0px; overflow: hidden; text-align: center; width: 50%"></div> -->

<script src="assets/javascript/chart.js-2.4.0/Chart.min.js" type="text/javascript"></script>
<script src="assets/javascript/angular-chart.js-1.1.1/angular-chart.min.js" type="text/javascript"></script>
</body>
</html>
